{#
/**
 * @file run.html.twig
 * Default theme implementation to present Run data.
 *
 * This template is used when viewing Run pages.
 *
 * @ingroup themeable
 */
#}

<table>
  <th>Count</th>
  <th>Value</th>
  <tr>
    <td>Number of tickets issued.</td>
    <td>{{numTicketsIssued}}</td>
  </tr>
  <tr>
    <td>Number of journeys completed.</td>
    <td>{{numJourneysComplete}}</td>
  </tr>
    <tr>
    <td>Number of passengers on waiting on Platforms.</td>
    <td>{{numPassengersOnPlatforms}}</td>
  </tr>
    <tr>
    <td>Number of passengers on trains.</td>
    <td>{{numPassengersOnTrains}}</td>
  </tr>
</table>
