{#
/**
 * @file train_entity.html.twig
 * Default theme implementation to present Train entity data.
 *
 * This template is used when viewing Train entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_train_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('train_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
